@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #2ddadd;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
